/*express.js-Jingya Huang 301221651 June 7, 2023 */

/*display project items inline and add padding */
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid: gap 40px;
    margin-top: 50px;
}
.project-content {
      padding-left: 120px;
    }
/* modify the layout of contact  */
    .contact-panel {
  display: flex;
  flex-direction: row;
}

.contact-info {
  flex: 1;
  padding-right: 20px;
}

.contact-form {
  flex: 1;
}
